@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bitter', serif;
}


body {
 background-image: none;
}





#header{ background-image:none!important;
}


@media (max-width: 991px){
    #header{
        margin-top: -10vh!important;
    }
}



.resume-btn{
       margin-right: 16px;
}


#header h1{
         margin: 0 0 10px 0;
         font-size: 40px;
         font-weight: 700;
         color: #000;
}

#header .brand-name{
    color: #3498db!important;

}


#header h2{
    color: #C4C3C3!important;
    font-size: 24px;
}

#header .btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    font-weight:bold!important;
    border: 2px solid #3498db;
    text-decoration: none;
}

#header h4{
    color: grey!important;
}


#header .btn-get-started:hover{
    background-color: #3498db;
    color: #fff;
}


.header-img{
    text-align: right;
}

.header-img img {
       height: 70%!important;
       margin-top: 15vh!important;
}


#header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.list li{
    color: #C4C3C3;
    font-size: 18px;
}


.list h4{
    font-size: 24px;
    color: #a6a6a6;
}

.quote p{
    color: #a6a6a6;
    font-size: 18px;
}


#skillset{
     background-image: url('./Images/back.jpg');
    background-repeat: no-repeat;
    /* clip-path: polygon(100% 0, 100% 100%, 30% 70%, 0 100%, 0 0);*/
    background-size:cover;
}

#skillset span{
    color: #dc70ff;
}

#skillset h1{
    text-decoration: underline;
    color: #fff;
}

#skillset .icons{
    font-size: 83px;
    border: 2px;
    border-radius: 5px;
    border-style: 2px solid crimson;
    box-shadow: 0 2px 3px #000;
    background-color: #157a9b;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#skillset p{
    color: #fff;
    transition: transform .4s;
    
}

#skillset p:hover{
    transform: scale(1.1);
     transition: .2s;
}

@-webkit-keyframes up-down {

     0% {
         transform: translateY(10px);
     }

     100% {
         transform: translateY(-10px);
     }
}

@keyframes up-down {

    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}







#footer{
    background-color: #000033;
}

#footer p{
    color: #C4C3C3;
    font-weight: lighter;
    color: 19px;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}


